/* Work Experience Section */
.goal-section {
  padding-top: 340px;
  padding-bottom: 240px;
  background-color: #280000;
  margin-bottom: 0px;
}

.goal-content {
  margin-top: -225px;
  padding-top: 217px;
  padding-bottom: 218px;
  width: 100%;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
}

.goal-hider {
  z-index: 1;
  margin-top: 285px;
  padding-top: 275px;
  padding-bottom: 193px;
  width: 100%;
  position: absolute;
  top: 1625px;
  left: 0px;
  text-align: center;
  font-size: 75px;
  font-family: gentaxregular;
  background: rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.goal-text {
  margin-top: -30px;
  margin-left: 0px;
  transition: 0.3s;
}

.goal-img {
  width: 225px;
  float: left;
  margin-left: 130px;
  margin-top: -175px;
}

.goal-txt {
  color: ivory;
  margin-top: -195px;
  margin-left: 25px;
  margin-right: 90px;
}

.goal-desc {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
}

.goal-button {
  color: ivory;
  background-color: #280000;
  white-space: nowrap;
  margin-right: 125px;
  margin-top: 115px;
  font-size: 24px;
  padding: 20px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 40px;
  border: solid 2px white
}

.goal-button:hover {
  color: black;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}
